<html>
<head>
     <meta name="description" content="A rare offering of eleven half-floor and full-floor condominium residences. 199 Mott Street is the newest addition to Alfa Development's Green Collection of Properties targeting LEED Gold Certification. 199 Mott Street, Nolita NY 10012">
     <title>199 Mott Street - Nolita's Newest Addition to Old New York; Full Floor and Half-Floor Residences Available </title>
	<link rel="stylesheet" href="../mottcss.css">
      <script type="text/javascript" src="../scripts/jquery.js"></script>

</head>
<body style="background-color:black;">
		<div style="background:url(MOTT_Register.png) no-repeat center;height:800px;width:997px;text-align:center; margin-left:auto;margin-right:auto;margin-top:-35px;">
			<span style="margin-top:225px;width:800px;">
      <div>
      	PLEASE FILL OUT THIS FORM TO LEARN MORE.<br/><br/>
      	<form id="form" action="/mail_to" method="post" STYLE="FONT-SIZE:10PT;">
      	  <span id="leftCol" style="width:48%;float:left;text-align:left;">
      	  	<label for='fname'>FIRST NAME *</label>
            <input class='styled' name='First Name' id='fname' type="text" required/><br/><br/>
            <label for='lname'>LAST NAME *</label>
            <input class='styled' name='Last Name' id='lname' type="text" required/><br/><br/>
            <label for='address'>ADDRESS</label>
            <input class='styled' name='Address' id='address' type="text"/><br/><br/>
            <label for='city'>CITY</label>
            <input class='styled' name='City' id='city' type="text"/><br/><br/>
            <label>WHAT RESIDENCE ARE YOU INTERESTED IN?</label><br/>
            <div class="styled-select">
	            <select name='Residence' style="width:100%;">
                    <option></option>
	              <option>Half-Floor 2-Bedrooms</option>
	              <option>Full Floor 3-Bedrooms</option>
	              <option>Penthouse</option>
	            </select>
            </div><br/>
            <label>WHAT IS YOUR PRICE RANGE?</label><br/>
            <input class='styled' style="width:100%;height: 23px; margin-top: 5px;margin-bottom: 30px;" name='Price Range' id='price' type="text"/><br/><br/>
             <label for="checkbox1"> ARE YOU REPRESENTED BY A BROKER? <div class="styled-checkbox"><input name="Represented By A Broker" type="checkbox" id="checkbox1"></div></label><BR/><BR/>
             <label>ADDITIONAL COMMENTS</label><BR/>
             <textarea class="comments" name='Comments'></textarea>
      	  </span>
      	  <span id="rightCol" style="width:48%;float:right;text-align:left;">
      	  	<label for='phone'>PHONE</label>
            <input class='styled' name='Phone Number' id='phone' type="text"><br/><br/>
            <label for='email'>EMAIL *</label>
            <input class='styled' name='Email Address' id='email' type="text" required><br/><br/>
            <label for='state'>STATE</label>
            <input class='styled' name='State' id='state' type="text"><br/><br/>
            <label for='zip'>ZIP</label>
            <input class='styled' name='Zip Code' id='zip' type="text"><br/><br/>
            <label>HOW DID YOU HEAR ABOUT US?</label><br/>
            <div class="styled-select">
	            <select name='Heard About Us Through' style="width:100%;">
	              <option></option>
                <option>Art + Auction</option>
                <option>Broker</option>
                <option>Corcoran Website</option>
                <option>Edible Magazine</option>
                <option>Gallery Guide</option>
                <option>Google</option>
                <option>Live in Neighborhood</option>
                <option>New York Magazine</option>
                <option>New York Post</option>
                <option>New York Times</option>
                <option>Other</option>
                <option>Press</option>
                <option>Referral</option>
                <option>Signage</option>
                <option>Wall Street Journal</option>
	            </select>
            </div><br/>
            <label>WHAT IS THE MOST IMPORTANT FACTOR?</label><br/>
            <div class="styled-select">
	            <select name='Most Important Factor' style="width:100%;">
	              <option></option>
	              <option>Location</option>
	              <option>Size</option>
                    <option>LEED Certification</option>
                    <option>Amenities</option>
	            </select>
            </div><br/><br/>
            <label for="checkbox2">ARE YOU A BROKER? * &nbsp;<div class="styled-checkbox"><input name="Is A Broker" type="checkbox" id="checkbox2"></div></label>
            <span style="float:right;">* REQUIRED FIELDS</span>
      	  </span>
      	  <span style="clear:both;"></span>
      </div>
		  </span><br/>
              <input class="submitImg" type='image' src="MOTT_Submit_OFF.png" value='SUBMIT'>
            </form>
    <div style="color:gray;font-size:6pt;text-align:left;display:block;margin-top:30px;padding-right:30px;">
              <p style="float:left;padding-right:28px;padding-left:25px;margin-top:0;"><img src = "EQUALHOUSE.png"></img></p>
          <p>THIS ADVERTISEMENT IS NOT AN OFFERING. IT IS A SOLICITATION OF INTEREST IN THE ADVERTISED PROPERTY. NO OFFERING OF THE ADVERTISED UNITS CAN BE MADE AND NO DEPOSITS CAN BE ACCEPTED, OR RESERVATIONS, BINDING OR NON-BINDING, CAN BE MADE UNTIL AN OFFERING PLAN IS FILED WITH THE NEW YORK STATE DEPARTMENT OF LAW. THIS ADVERTISEMENT IS MADE PURSUANT TO COOPERATIVE POLICY STATEMENT NO. 1, ISSUED BY THE NEW YORK STATE DEPARTMENT OF LAW. FILE# CP12-0061. PROPERTY ADDRESS:  199 MOTT STREET, NEW YORK NY 10012. SPONSOR: FIRST MOTT LLC 15 WEST 18TH STREET SUITE 200 NEW YORK NY 10011.</p>
          </div>
		</div>
</body>
<script>
$(".submitImg").hover(function() {
            $(this).attr("src","MOTT_Submit_ON.png");
                  }, function() {
            $(this).attr("src","MOTT_Submit_OFF.png");
});

$( "#form" ).submit(function(event) {
                      // Stop form from submitting normally
                       event.preventDefault();
                       //ajax request, show modal if form is posted successfully
                       $.post( "/mail_to", $("#form").serialize(), function(data) {
                            alert("Thank you for contacting us! Someone will be in touch shortly.")
                       }).fail(function() {
                            alert("Oops! Looks like we had trouble sending you a confirmation email. Please Check your email address and try again.");
                      });        
                  
});
</script>
</html>
