<html>
<head>
	<link rel="stylesheet" href="../mottcss.css">
</head>
<body style="background-color:rgb(37, 33, 33);">
		<div style="background:url(RegisterPlate_border.png) no-repeat center;height:800px;text-align:center;">
			<span style="margin-top:225px;width:800px;">
      <div>
      	PLEASE FILL OUT THIS FORM TO LEARN MORE.<br/><br/>
      	<form id="form" action="/mail_to" method="post" STYLE="FONT-SIZE:10PT;">
      	  <span id="leftCol" style="width:48%;float:left;text-align:left;">
      	  	<label for='fname'>FIRST NAME *</label>
            <input style="float:right;width:65%;" name='First Name' id='fname' type="text" required/><br/><br/>
            <label for='lname'>LAST NAME *</label>
            <input style="float:right;width:65%;" name='Last Name' id='lname' type="text" required/><br/><br/>
            <label for='address'>ADDRESS</label>
            <input style="float:right;width:65%;" name='Address' id='address' type="text"/><br/><br/>
            <label for='city'>CITY</label>
            <input style="float:right;width:65%;" name='City' id='city' type="text"/><br/><br/>
            <label>WHAT RESIDENCE ARE YOU INTERESED IN?</label><br/>
            <select name='Residence' style="width:100%;">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select><br/><br/>
            <label>WHAT IS YOUR PRICE RANGE?</label><br/>
            <select name='Price Range' style="width:100%;">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select><br/><br/>
             <label for="checkbox1"> ARE YOU REPRESENTED BY A BROKER? <input name="Represented By A Broker" type="checkbox" id="checkbox1"></label><BR/><BR/>
             <label>ADDITIONAL COMMENTS</label><BR/>
             <textarea style="width:208%; height:10%;"name='Comments'></textarea>
      	  </span>
      	  <span id="rightCol" style="width:48%;float:right;text-align:left;">
      	  	<label for='phone'>PHONE</label>
            <input style="float:right;width:65%;" name='Phone' id='phone' type="text"><br/><br/>
            <label for='email'>EMAIL *</label>
            <input style="float:right;width:65%;" name='Email' id='email' type="text" required><br/><br/>
            <label for='state'>STATE</label>
            <input style="float:right;width:65%;" name='State' id='state' type="text"><br/><br/>
            <label for='zip'>ZIP</label>
            <input style="float:right;width:65%;" name='Zip' id='zip' type="text"><br/><br/>
            <label>HOW DID YOU HEAR ABOUT US?</label><br/>
            <select name='Heard About Us Through' style="width:100%;">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select><br/><br/>
            <label>WHAT IS THE MOST IMPORTANT FACTOR?</label><br/>
            <select name='Most Important Factor' style="width:100%;">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select><br/><br/>
            <label for="checkbox2">ARE YOU A BROKER? *<input name="Is A Broker" type="checkbox" id="checkbox2"></label>
            <span style="float:right;">* REQUIRED FIELDS</span>
      	  </span>
      	  <span style="clear:both;"></span>
      	  <input type='submit' value='SUBMIT'>
      	</form>
      </div>
		  </span>
		</div>
</body>
<footer>
	<span style="float:left;"><img src = "EQUALHOUSE.png"></img></span>
	<span style="color:white;font-size:8pt;">
		THIS ADVERTISEMENT IS NOT AN OFFERING. IT IS A SOLICITATION OF INTEREST IN THE ADVERTISED PROPERTY. NO OFFERING OF THE ADVERTISED UNITS CAN BE MADE AND NO DEPOSITS CAN BE ACCEPTED, OR RESERVATIONS, BINDING OR NON-BINDING, CAN BE MADE UNTIL AN OFFERING PLAN IS FILED WITH THE NEW YORK STATE DEPARTMENT OF LAW. THIS ADVERTISEMENT IS MADE PURSUANT TO COOPERATIVE POLICY STATEMENT NO. 1, ISSUED BY THE NEW YORK STATE DEPARTMENT OF LAW. FILE# CP12-0061. PROPERTY ADDRESS: 199 MOTT STREET, NEW YORK NY 10012. SPONSOR: FIRST MOTT LLC 15 WEST 18TH STREET SUITE 200 NEW YORK NY 10011.
	</span>
</footer>
</html>
